<div class="col-xs-2">
	<a class="btn btn-primary" href="/"><span class="glyphicon glyphicon-chevron-left"></span>Back to all event</a>
</div><br><br><br>

<div class="row-center">
  <div class="col-md-7">
      <div class="container">
      	<div id="map"  style="width: 96%; height: 400px; text-align: center;" ></div>
      </div><br>
      <center>
      	<a class="btn btn-primary" id="get_direction">Get directions</a>

      	<p id="demo"></p>

      </center>
  </div>
  <div class="col-md-5">
      <h3>Event name</h3>
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><h4 class="text-primary"><%= @event_details.title %></h4>
            <p class="card-text"><%= @event_details.description %></p>
            <p class="card-text"><%= @event_details.address %></p>
            <p class="card-text"><%= @event_details.category.try(:category_name) %></p>
            <p class="card-text"><%= @event_details.start_date.try(:strftime, "%d/%m/%y" ) %></p>
            <p class="card-text"><%= @event_details.end_date.try(:strftime, "%d/%m/%y" ) %></p>
          </div>
        </div>
  </div>
</div><br><br><br><br>
<center>
	<a class="btn btn-primary" href="#">See more events in this category<span class="glyphicon glyphicon-chevron-right"></span></a>
</center>

	<!-- Show events on goole map with pin location  -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAvuPSxdugPS2FJQibo-i78wVZHWgmKemk&libraries=places&callback=calculateAndDisplayRoute"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var locations = <%= raw @map_data.to_json %>;
  	console.log("Data", locations)

	  var map = new google.maps.Map(document.getElementById('map'), {
	    zoom: 8,
	    center: new google.maps.LatLng(<%= @map_data.first[1] %>, <%= @map_data.first[2] %>),
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	  });

	  var marker, i;
	  for (i = 0; i < locations.length; i++) {
	    marker = new google.maps.Marker({
	      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
	      map: map
	    });
	  }

	   //--- Get events direction location on goole map ------

	  var x = document.getElementById("demo");

	  $("#get_direction").click(function(){
	  	if (navigator.geolocation) {
		    navigator.geolocation.getCurrentPosition(showPosition);
		  } else { 
		    x.innerHTML = "Geolocation is not supported by this browser.";
		  }
	  })

	  function showPosition(position) {

	  	var start_latitude = position.coords.latitude;
	  	var start_longitude = position.coords.longitude;

	  	var end_latitude = locations[0][1];
	  	var end_longitude = locations[0][2];

	  	var direction_url = "https://www.google.com/maps/dir/" + start_latitude + "," + start_longitude + "/" + end_latitude + "," + end_longitude;

	  	window.open(direction_url, '_blank');

		}
  });
</script>


