<h4 class="text-center">Admin Panel</h4>
<!DOCTYPE html>
<html>
  <head>
    <title>EventProject</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <style>
      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
        font-family: "Roboto";
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f9ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }
        html {
        height: 100%;
      }
        body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .container {
        width: 100%;
        display: flex;
      }
      #map-canvas-left, #map-canvas-right {
        height: 250px;
        width: 550px;
      }
      #iw_container .iw_title {
        font-size: 16px;
        font-weight: bold;
      }
      .iw_content {
        padding: 15px 15px 15px 0;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <% if user_signed_in? %>
          <div class="navbar-text pull-right">
            Logged in as <strong class="text-primary"><%= current_user.email %></strong>&nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to 'Edit Profile', edit_user_registration_path %> &nbsp;&nbsp;&nbsp;&nbsp;
            <%= link_to 'Logout',   destroy_user_session_path %> 
          </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/events/new">New events</a></li>
                <li><a href=" /admin/index">Category</a></li>
                <li><a href="#">Admin</a></li>
              </ul>
          <%  else  %>
            <%= link_to "Sign up", new_user_registration_path, :class=>'navbar-link' %> |
            <%= link_to "Login", new_user_session_path, :class=>'navbar-link' %>
          <%  end %>
        </div>
    </nav>
  
  <div class="container"></div>
    <%= yield %>
  </body>
</html>
